:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --accent-color: #2196f3;
  --accent-color-menu-buttons: #ffffff;
}
body {
  font-family: var(--main-font);
}
.header {
  background-color: #ffffff;
}
.solutions,
.principles,
.work {
  background-color: #e5e5e5;
}
. .link {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}
.black {
  color: black;
}
.navigation-list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}
.navigation-list-link:hover,
.navigation-list-link:focus,
.header-email:hover,
.header-email:focus,
.header-tell:hover,
.header-tell:focus {
  color: var(--accent-color);
}
.navigation-list-item,
.heder-address-list-item,
.principles-list-item,
.team-list,
.footer-address-item {
  list-style-type: none;
}
.header-email,
.header-tell {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  font-style: normal;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
}
.solutions {
  background-color: #2f303a;
}
.solutions-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.principles-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
.principles-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}
.work-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.team {
  background-color: #f5f4fa;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.member-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.member-position {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  /* identical to box height */
  letter-spacing: 0.03em;
  color: #757575;
}
.footer {
  background-color: #2f303a;
}
.white {
  color: white;
}
.footer-address-item a {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71px;
  /* or 171% */
  font-style: normal;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-decoration: none;
}
.footer-email,
.footer-tell {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  /* or 171% */
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
/* ==========PORTFOLIO===(Стили Header and footer  уже заданы выше)=============== */
.portfolio {
  background-color: #e5e5e5;
}
.menu-btn {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  /* identical to box height, or 162% */
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  background: #f5f4fa;
  border-radius: 4px;
}
.menu-btn:hover,
.menu-btn:focus {
  color: var(--accent-color-menu-buttons);
  background: var(--accent-color);
  /* shadow-middle */
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.services-menu-list-item {
  list-style-type: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.example-project-name {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  /* identical to box height, or 200% */
  letter-spacing: 0.06em;
  color: #212121;
}
.example-project-description {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  /* identical to box height, or 187% */
  letter-spacing: 0.03em;
  color: #757575;
}
.examples-project-list-item {
  list-style-type: none;
}
